.hero-section{
    display: flex;
    height: 1000px;
}

.hero-links{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 200px;
    justify-content: space-between;
    margin-top: 360px;
}

.link-image{
    width: 40px;
}


.hero-text{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 700px;
    margin-left: 300px;
    margin-top: 60px;
}

#hero-main-text{
    font-family: 'Orbitron', sans-serif;;
    font-size: 70px;
}

#hero-paragraph{
    font-family: 'Orbitron', sans-serif;;
    font-size: larger;
}


#astronaut{
    width: 800px;
    height: 800px; 
    margin-left: 100px;
    margin-top: 60px;
}


.hero-cta a{
text-decoration: none;
color: white;
}

.hero-cta{
    background-color: black;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
}


#tag-image{
    height: 50px;
    width: 50px;
}


.technologies-section{
    background-color: #a6edff;
    height: 1000px;
}


#rocket{
    width: 500px;
    height: 500px;
    margin-top: 100px;
}

#cloud{
    width: 200px;
}

.tech-image{
    width: 40px;
}
