.hero-section{
    display: flex;
    height: 800px;
}

.hero-links{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 200px;
    justify-content: space-between;
    margin-top: 300px;
}

.link-image{
    width: 40px;
}


.hero-text{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 700px;
    margin-left: 300px;
    margin-top: 60px;
}

#hero-main-text{
    font-family: Montserrat;
    font-size: 70px;
}

#hero-paragraph{
    font-size: larger;
}


#astronaut{
    width: 800px;
    height: 800px;
    margin-left: 100px;
    margin-top: 50px;
}


.hero-cta a{
text-decoration: none;
color: black;
}

.hero-cta{
    background-color: rgb(255, 182, 172);
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
}


#tag-image{
    height: 50px;
    width: 50px;
}

